  <div class="allGames panel" ng-repeat="game in games" ng-click="goToGame()">
    <table class="table table-striped">
      <thead>
        <th>
          <span ng-show="game.status.status == 'Final'">Final</span>
          <span ng-if="game.status.status != 'Final'" ng-bind="game.status.inning_state + ' ' + game.status.inning"></span>
        </th>
        <th class="darkBG text-center">R</th>
        <th class="text-center">H</th>
        <th class="text-center">E</th>
      </thead>
      <tbody>
        <tr>
          <td>
            <div class="team-{{game.away_team_name | nospace}} col-xs-6"></div>
            <div col-xs-6>
              <span ng-bind="game.away_team_name"></span><br/>
              <span class="muted-text" ng-bind="'(' + game.away_win + '-' + game.away_loss + ')'"></span>
            </div>
          </td>
          <td class="darkBG text-center">{{game.linescore.r.away}}</td>
          <td class="text-center">{{game.linescore.h.away}}</td>
          <td class="text-center">{{game.linescore.e.away}}</td>
        </tr>
        <tr>
          <td>
            <div class="team-{{game.home_team_name | nospace}} col-xs-6"></div>
            <div col-xs-6>
              <span ng-bind="game.home_team_name"></span><br/>
              <span class="muted-text" ng-bind="'(' + game.home_win + '-' + game.home_loss + ')'"></span>
            </div>
          </td>
          <td class="darkBG text-center">{{game.linescore.r.home}}</td>
          <td class="text-center">{{game.linescore.h.home}}</td>
          <td class="text-center">{{game.linescore.e.home}}</td>
        </tr>
        <tr>
          <td colspan="4"></td>
        </tr>
      </tbody>
    </table>
  </div>
